footer {
    background: #353535;
    color: #fff;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .footer-links{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    h2{
        color: var(--White, #FFF);
        font-family: Shrikhand;
    }
    a {
        display: flex;
        flex-direction: row;
        gap: 11px;

        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        text-decoration: none;
    }
}