$text-color: #ff0000;

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__img {
        width: 10px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__link {
            text-decoration: none;
            color: $text-color;
        }
    }
}