.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;

    background-color: #EAEAEA;
    height: 50px;

    color: #353535;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:  39px 0 57px 0;
    background: var(--background, #F6F6F6);
    gap: 27px;
    .section-title {
        width: 100%;

        .info-title {
            color: #000;
            text-align: center;
            @include respond-to('large') {
                display: flex;
                flex-direction: column;
                gap: 18px;
            }
            /* Section Title */
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        
            padding: 0 50px;
            margin: 0;
        }
        .info-subtitle {
            color: var(--grey, #353535);
            text-align: center;
        
            /* Paragraph */
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        
            padding: 0 30px;
            margin: 0;
        }
    }
}

.section-fonction{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 58px 20px;
    @include respond-to('large') {
        padding: 50px 180px;
    }
    .steps {
        display: flex;
        flex-direction: column;
        gap: 25px;
        @include respond-to('large') {
            display: flex;
            flex-direction: row;
            gap: 35px;
        }
        .step {
            position: relative;
            @include respond-to('large') {
                width: 33%;
            }
            .steps-number {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $primary;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
    
                top: 24px;
                left: -12px;
            }
            .steps-name {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 27px;
                padding: 0 40px;
                height: 72PX;
    
                border-radius: 20px;
                background-color: $background;
    
                /* Shadow/Instructions */
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    
    
                color: #000;
                font-family: Roboto;
                font-size: 16px;
                i {
                    color: $fontawesome-grey;
                }
                .primary-color {
                    color: $primary;
                }
            }
        }
        
    }
}
.section-restaurants {
    display: flex;
    flex-direction: column;
    padding: 60px 18px;
    gap: 18px;

    background: $background;
    @include respond-to('large') {
        padding: 30px 180px;
        gap: 28px;
    }
    .restaurants {
        display: flex;
        flex-direction: column;
        gap: 18px;
        
        @include respond-to('large') {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 100px;
        }
        .restaurant {
            position: relative;
    
            display: flex;
            flex-direction: column;
    
            border-radius: 15px;
            background: #fff;

            /* Shadow/Card */
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);            
            a {
                color: inherit;
                text-decoration: none;
                width: 100%;
                img {
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                    height: 230px;
                    width: 100%;
                }
                .new {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    top: 15px;
                    right: 15px;
        
                    height: 29px;
                    width: 80px;
        
                    border-radius: 2px;
        
                    background: $green;
                    color: $greenFont;
        
                    font-family: Roboto;
                    font-size: 14px;
                }
                .restaurant-bas {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .restaurant-text {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        padding: 16px 25px ;
                    }
                }                                                        
            }
            @include respond-to('large') {
                flex: 1 0 45%
            }  
                                                                  
        }
    }   
}