.header-img {
    object-fit: cover;
    width: 100%;
    height: 275px;
}
.carte {
    background: $background;
    padding: 0 17px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    position: relative;
    @include respond-to('large') {
        margin: 0 192px;
        padding: 0 210px;
    }
    .top-round {
        height: 40px;
        min-width: 100%;
        position: absolute;
        top: -40px;
        left: 0;
        background: $background;
        border-radius: 40px 40px 0 0;

    }
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include respond-to('large'){
            justify-content: center;
            gap: 24px;
        }

        .like-btn{
            position: absolute;
            right: 41px;
        }
    }

    h2 {
        font-family: Shrikhand;
        font-size: 28px;
    }
    .menu {
        font-family: Roboto;
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .menu-title {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .green-bar{
                height: 3px;
                width: 40px;
                background: $green;
            }
        }

        .menu-card {
            display: flex;
            flex-direction: row;
            border-radius: 15px;

            background: #fff;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

            font-family: Roboto;
            height: fit-content;

            position: relative;
            overflow: hidden;
            .menu-noCheck {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                transition: all 500ms ease-in-out;
                .menu-text {
                    padding: 15px;
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }
                .menu-price {
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    p {
                        font-weight: 700;
                    }
                }
            }
            &:hover {
                .menu-noCheck{
                    padding-right: 59px;
                }
                .check {
                    right: 0;
                }
            }
            .check {
                position: absolute;
                right: -59px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 59px;
                background-color: $green;
                height: 100%;
                transition: all 500ms ease-in-out;
                border-radius: 0 15px 15px 0;
                i {
                    color: #fff;
                }
            }
        }
    }
    .btn {
        align-self: center;
        margin-bottom: 40px;
    }
}